PIL==9.4.0
matplotlib==3.7.1
numpy==1.25.2
pandas==2.0.3
requests==2.31.0
session_info==1.0.0
streamlit==1.33.0
backcall==0.2.0
blinker==1.4
cachetools==5.3.3
certifi==2024.02.02
cffi==1.16.0
chardet==5.2.0
charset_normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
cycler==0.12.1
dateutil==2.8.2
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
executing==2.0.1
httplib2==0.22.0
idna==3.6
ipykernel==5.5.6
ipython_genutils==0.2.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib_inline==0.1.6
numexpr==2.9.0
packaging==24.0
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.2.0
plotly==5.15.0
prompt_toolkit==3.0.43
psutil==5.9.5
ptyprocess==0.7.0
pure_eval==0.2.2
pyarrow==14.0.2
pydevd==2.9.5
pygments==2.16.1
pyparsing==3.1.2
pytz==2023.4
setuptools==67.7.2
six==1.16.0
socks==1.7.1
stack_data==0.6.3
tornado==6.3.3
traitlets==5.7.1
urllib3==2.0.7
wcwidth==0.2.13
zmq==23.2.1
IPython==8.12.3
jupyter_client==6.1.12
jupyter_core==5.7.2
notebook==6.5.5
